.ArrowBack {
  width: 30px;
  height: 30px;
  transform: translateX(0%) rotate(45deg);
  box-shadow: rgb(255, 255, 255) -2px 2px 0px;
  opacity: 0.8;
}

.ForeArrow {
  width: 30px;
  height: 30px;
  transform: translateX(-50%) rotate(-135deg);
  box-shadow: rgb(255, 255, 255) -2px 2px 0px;
  opacity: 0.8;
}
